# Build output
x64/
Debug/
Release/
*.exe
*.obj
*.pdb
*.ilk
*.ipdb
*.iobj
Owl BLock/Debug/
Owl BLock/Release/
# Visual Studio
.vs/
*.vcxproj.user

# GBA BIOS — copyrighted
*.bin

# ROMs — copyrighted
*.gba

# Generated logs
debug.txt
log.txt